# vg-stats

In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [25]:
df = pd.read_csv('./vgsales.csv')

In [26]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

1. Which company is the most common video game publisher?

In [27]:

df['Publisher'].mode()

0    Electronic Arts
dtype: object

2. What’s the most common platform?

In [28]:
df['Platform'].mode()

0    DS
dtype: object

3. What about the most common genre?

In [29]:
df['Genre'].mode()

0    Action
dtype: object

4. What are the top 20 highest grossing games?

In [30]:
df.sort_values('Global_Sales', ascending=False)[['Name']].head(20)

                                            Name
0                                     Wii Sports
1                              Super Mario Bros.
2                                 Mario Kart Wii
3                              Wii Sports Resort
4                       Pokemon Red/Pokemon Blue
5                                         Tetris
6                          New Super Mario Bros.
7                                       Wii Play
8                      New Super Mario Bros. Wii
9                                      Duck Hunt
10                                    Nintendogs
11                                 Mario Kart DS
12                   Pokemon Gold/Pokemon Silver
13                                       Wii Fit
14                                  Wii Fit Plus
15                            Kinect Adventures!
16                            Grand Theft Auto V
17                 Grand Theft Auto: San Andreas
18                             Super Mario World
19  Brain Age: Train Your Brain in Minutes a Day

5. For North American video game sales, what’s the median?

In [31]:
median_idx = df['NA_Sales'].median()
median_idx

0.08

* Provide a secondary output showing ten games surrounding the median sales output
* assume that games with same median value are sorted in descending order

In [32]:
sorted_games_na_sales = games_df.sort_values(by='NA_Sales', ascending=False)
median_idx = len(games_df) // 2
ten_median_na_seller_names = sorted_games_na_sales.iloc[median_idx - 5 : median_idx + 5, [1, 6]]
ten_median_na_seller_names

(                                                Name
 11438                         Diego's Build & Rescue
 10009                                     Smash Cars
 12482                    Disney Sports Skateboarding
 10972  Total Overdose: A Gunslinger's Tale in Mexico
 13510                           Trollz: Hair Affair!,
                                          Name
 5145  Theatrhythm Final Fantasy: Curtain Call
 5071              Need for Speed: Hot Pursuit
 9155                               Bio FREAKS
 7550                  Saturday Night Speedway
 7928                        Rise of the Kasai)

6. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [37]:
top_selling_game = df.sort_values('Global_Sales', ascending=False)[['NA_Sales']].head(1)
top_selling_game

   NA_Sales
0     41.49

In [40]:
(top_selling_game - df['NA_Sales'].mean())/ df['NA_Sales'].std()

    NA_Sales
0  50.478988

7. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms? Come up with 3 more questions that can be answered with this data set.

In [47]:
wii_average_sales =  df[df['Platform'] == 'Wii']['Global_Sales'].mean()
wii_average_sales

0.6994037735849057

In [48]:
average_other_platforms = df[df['Platform'] != 'Wii']['Global_Sales'].mean()

In [49]:
average_other_platforms

0.5233896418516336

In [50]:
wii_average_sales /average_other_platforms   # it 13% bigger than other games

1.3362965516676526