# vg-stats

In [326]:
import pandas as pd

In [327]:
df = pd.read_csv('./vgsales.csv')

1. Which company is the most common video game publisher?

In [328]:

df['Publisher'].mode()

0    Electronic Arts
dtype: object

2. What’s the most common platform?

In [329]:
df['Platform'].mode()

0    DS
dtype: object

3. What about the most common genre?

In [330]:
df['Genre'].mode()

0    Action
dtype: object

4. What are the top 20 highest grossing games?

In [331]:
df.sort_values('Global_Sales', ascending=False)[['Name']].head(20)

                                            Name
0                                     Wii Sports
1                              Super Mario Bros.
2                                 Mario Kart Wii
3                              Wii Sports Resort
4                       Pokemon Red/Pokemon Blue
5                                         Tetris
6                          New Super Mario Bros.
7                                       Wii Play
8                      New Super Mario Bros. Wii
9                                      Duck Hunt
10                                    Nintendogs
11                                 Mario Kart DS
12                   Pokemon Gold/Pokemon Silver
13                                       Wii Fit
14                                  Wii Fit Plus
15                            Kinect Adventures!
16                            Grand Theft Auto V
17                 Grand Theft Auto: San Andreas
18                             Super Mario World
19  Brain Age: Train Your Brain in Minutes a Day

5. For North American video game sales, what’s the median?

In [379]:
df['NA_Sales'].median()

0.08

In [ ]:
* Provide a secondary output showing ten games surrounding the median sales output
* assume that games with same median value are sorted in descending order

In [ ]:
t = df.sort_values('NA_Sales', ascending=False)
t

6. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [335]:
 top_selling_game = df.sort_values('NA_Sales', ascending=False)[['Name']].head(1)

In [336]:
 top_selling_game

         Name
0  Wii Sports

In [337]:
c = df[df['Platform'] == 'Wii']['NA_Sales'].mean()

In [338]:
c

0.383177358490566

In [339]:
l = df[df['Platform'] == 'Wii']['NA_Sales'].sum()

In [340]:
l

507.71

In [341]:
t = df[df['Platform'] == 'Wii']['NA_Sales'].std()

In [342]:
82.74-c/t

82.49033920286777

7. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [343]:
wii_average_sales  = df[df['Platform'] == 'Wii']['Global_Sales'].mean()

In [344]:
wii_average_sales

0.6994037735849057

In [345]:
average_other_platforms = df[df['Platform'] != 'Wii']['Global_Sales'].mean()

In [346]:
average_other_platforms

0.5233896418516336

In [347]:
wii_average_sales /average_other_platforms   # it 13% bigger than other games

1.3362965516676526